button {
  background-color: #4CAF50;
}
a {
  color: blue;
}
code, th {
  color: black;
}

.rc-md-editor{
  width: 100%;
}

#editor-send-button{
  width: 100%;
  background-color: #fd887a;
  color: white;
  font-size: 25px;
  padding: 10px;
}